# Virtual environments
venv/
.venv/
.venv
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Data files
*.parquet
*.csv
*.txt
*.log
*.sqlite3

# Node
node_modules/
dist/
build/

# Environment
.env

# OS
.DS_Store